@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

* {
  scrollbar-color: #ffffff #090450; /* Reemplaza con los colores reales */
  scrollbar-width: thin;
}

html.dark {
  scrollbar-color: #1e1e1e #2c3e50; /* Colores oscuros */
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: bold;
  color: #600fc3; /* Reemplaza con el color definido */
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: #2c3e50;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: #2c3e50;
}

h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #2c3e50;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

h2,
p {
  color: #4a5568; /* Cambia según el color de texto */
}
html.dark h1 {
  color: #e1eeff; /* Cambia según el color oscuro */
}

html.dark h2,
html.dark h3,
html.dark h4 {
  color: #e2e8f0;
}

html.dark p {
  color: #c9d3e0;
}

html,
body {
  overflow-x: hidden;
}

* {
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
  transition: color 0.25s linear;
  -webkit-transition: color 0.25s linear;
  -moz-transition: color 0.25s linear;
  -ms-transition: color 0.25s linear;
  -o-transition: color 0.25s linear;
}

*::selection {
  background-color: #4a5568 !important;
  color: #ffed4a !important;
}

html.dark *::selection {
  background-color: #a0aec0 !important;
  color: #1a202c !important;
}
